.music-player-container {
  margin-bottom: 20px;
}
.custom-audio-player {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  background-color: #b27dff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-audio-player::-webkit-media-controls-panel {
  background-color: #b27dff;
  border-radius: 10px;
}

.custom-audio-player::-webkit-media-controls-play-button {
  color: #ffffff;
}

.custom-audio-player::-webkit-media-controls-volume-slider {
  color: #ffffff;
}
