.custom-file-input {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.custom-file-input input[type="file"] {
  position: absolute;
  opacity: 0;
}

.custom-file-input:hover {
  background-color: #b700ff;
}

.custom-file-input:active {
  background-color: #b700ff;
}

.light-theme input[type="date"]::-webkit-calendar-picker-indicator {
  color: #1a0033;
}

.dark-theme input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  background-color: #e3f2fd;
}
